@use './styles/mixin.scss' as mixin;
@import url('./styles/main.scss');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  position: relative;
  flex: 1;

  display: flex;
  flex-direction: column;
  @include mixin.content-padding;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  background-color: mixin.$gray10;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}
